<!-- ============================================================== -->
<!-- Only router without any element -->
<!-- ============================================================== -->
  <div id="main-wrapper" class="defaultdark blue mini-sidebar">
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <ng2-toasty [position]="'top-center'"></ng2-toasty>
            <app-nav-menu></app-nav-menu>
          </div>
          <div class="col-2">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="#">
                    Start Bootstrap
                  </a>
                </li>
                <li>
                  <a href="#">Add Make</a>
                </li>
                <li>
                  <a href="#">Add Vehicle</a>
                </li>
                <li>
                  <a href="#">Overview</a>
                </li>
                <li>
                  <a href="#">Events</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
            <!-- /#sidebar-wrapper -->
          </div>
            <div class="col-10">

              <router-outlet></router-outlet>
            </div>





          </div>
      </div>

    </div>
  </div>
